.Footer {
  height: 100vh;
  position: relative;
  display: flex;
  .wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .left,
  .right {
    padding: 5% 10%;
    width: 50%;
    height: 100%;
    .fade {
      color: rgb(137, 137, 137);
      margin-bottom: 0.25%;
    }
  }

  .right {
    .right-top {
      margin-bottom: 5%;
      p {
        font-size: 24px;
      }
    }
    .right-middel {
      width: 100%;
      height: 10vh;
      display: flex;
      input {
        padding: 2.5%;
        border: none;
        border-radius: 25px;
        width: 50%;
        height: 50%;
        margin-right: 2.5%;
        background-color: rgb(202, 202, 202);
      }
    }
    .right-bottom {
      width: 100%;
      height: 10vh;
      display: flex;
      align-items: flex-end;
      margin-bottom: 5%;
      textarea {
        padding: 2.5%;
        border: none;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        resize: none;
        margin-right: 2.5%;
        background-color: rgb(202, 202, 202);
      }
    }
    .social {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;
      img {
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
